/* You can add global styles to this file, and also import other style files */
@media screen and (min-width: 1280px) and (max-width: 1920px) { /* HD-Ready styles */ }

*{
    padding: 0%;
    margin: 0%;
}

body {
    background-image: url('assets/img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}